/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

 h1 {
  font-size: 70px;
 }

 .grid {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
}

.letter {
  display: inline;
  padding: 20px;
  background-color: rgb(70, 70, 213);
  font-size: 60px;
  margin: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: whitesmoke;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.4)
}

.input {
  border-radius: 5px;
  width: 400px;
  height: 40px;
  font-size: 30px;
}

.btn {
  border-radius: 5px;
  height: 40px;
  font-size: 30px;
  background-color: rgb(70, 70, 213);
  color: whitesmoke;
  box-shadow: 2px 2px 5px rgba(20, 20, 20, 0.4);
  padding: 5px;
  text-decoration: none;
}

.word_guess {
  text-align: center;
}
